body {
    background-image: url(../placas/imagen/auto-anime-ciudad_23-2151710982.jpg);
    background-repeat: repeat;
}

.conmtenido {
    display: column;
    margin-left: 550px;
    background: rgba(182, 186, 198, 0.474);
    align-items: center;
    margin-top: 200px;
    margin-right: 550PX;
}

.resultado {
   
}

.imagen {

    margin-left: 25px;
    display: column;
    justify-content: center;




}

.Validar {
    background-color: rgb(74, 78, 120);
    border-bottom: 400px;
}

.limpiar {
    background-color: rgb(74, 78, 120);
    border-bottom: 400px;
}

.botones {
    
    justify-content: center;

}

.padre {
    justify-content: center;
    align-items: center;
}